.load {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
.boxList {
  padding: 25px;
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
